
@{
    ViewData["Title"] = "Index";
}
    <h3>Thống kê</h3>
    <p>Số lượng đơn hàng đã nhận: @ViewData["BanDuoc"]</p>
    <p>Tổng tiền trên tất cả đơn hàng: $@ViewData["TongTien"]</p>
    <p>Tổng số lượng món trên thực đơn: @ViewData["TongSoMonAn"]</p>
    